{%extends 'covidsearch/layout2.html'%}
{% load highlight %}

{%block title%}Search - {{q}}{%endblock%}

{%block body%}
<h1 id="title2">Results for: <span id="highlight">{{q}}</span></h1>
<p class="resultCount">{{resultCount}} posts containing <em></em></p>
<ul class="pageselector">
    <form action="{% url 'search'%}" method="POST">
    {%csrf_token%}
    {% for i in pages %}
        {%if i is activepage%}
            <li><input id="activepage" type="submit" value="{{i}}" name="page"></li>
        {%else%}
            <li><input type="submit" value="{{i}}" name="page"></li>
        {%endif%}
    {% endfor %}
    </form>
</ul>

{%if noResults%}
<script>
    alert('No results.')
    location.href="/archive"
</script>
{%elif short%}
<script>
    alert('Please use a more specific query.')
    location.href="/archive"
</script>
{%else%}
{%if reverse%}
<form action="{% url 'search' %}" method="POST" class="select2">
    <select onchange="this.form.submit()" value="oldest">
        <option>Sort by oldest</option>
        <option>Sort by newest</option>
        {%csrf_token%}
    </select>
</form>
<a id="facebook-link" href="https://www.facebook.com/hoosiercovid/" target="_blank">Facebook</a>

{% for post in results reversed %}
<div class="post">
    <a id="title" href="{% url 'post' post.pk %}">{% highlight q post.formatted_date True%}</a>
    <p id="contents" style="white-space: pre-wrap;">{% highlight q post.message True%}</p>
</div>
{% endfor %}


{%else%}
<form action="{% url 'search' %}" method="POST" class="select2">
    <select onchange="this.form.submit()">
        <option selected="selected">Sort by oldest</option>
        <option selected="selected">Sort by newest</option>
        {%csrf_token%}
    </select>
</form>
<a id="facebook-link" href="https://www.facebook.com/hoosiercovid/" target="_blank">Facebook</a>

{% for post in results %}
<div class="post">
    <a id="title" href="{% url 'post' post.pk %}">{% highlight q post.formatted_date True%}</a>
    <p id="contents" style="white-space: pre-wrap;">{% highlight q post.message True%}</p>
</div>
{% endfor %}
{%endif%}
{%endif%}
{%endblock%}